html {
    background-color: cyan;
}

.container-fluid {
    background-color: cyan;
}

input[type="text"] {
    background: transparent;
    color: white;
}

input[type="text"]:focus {
    background: transparent;
}